@model Drones.Models.Drone

@{
    ViewBag.Title = "SendToCharge";
}

<h2>SendToWarehouse</h2>

<h3>Are you sure you want to send this drone to charge?</h3>
<div>
    <h4>Drone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedToServe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedToServe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatteryCharging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatteryCharging)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SendToCharge" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
